<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inKwave-about</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="Navbar">
        <div class="nav_logo">
            <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
        </div>
        <div class="nav_text">
            <!-- <h5 id="home"> <a href="">Home</a> </h5> -->
            <h5 id = "app"><a href="/">App</a></h5>
            <h5 id = "about" ><a  class="active"href="">About</a></h5>
        </div>
    </nav>



    <div class="main">

        <div id="cetre">

            <div id="overview">
                <h1>Overview</h1>
                <br>
                <p>
                    The inKwave is an innovative application designed to provide users with a
                    digital canvas for creating artwork. Utilizing advanced computer vision and graphics algorithms,
                    this system allows users to simulate traditional painting techniques in a virtual environment.
                    The main objective of the project is to create an intuitive and user-friendly interface that
                    mimics the experience of real-world painting, enabling artists to explore their creativity
                    without the constraints of physical media.
                </p>
            </div>
            <br>
            <br>
            <br>
            <div id="tech">
                <h1>Tech Used</h1>
                <br>
                <div class="grid">
                    <div id="list">
                        <h3 class="list_point">
                            Programming Languages
                        </h3>
                        <br>
                        <ul class="list">
                            <li>
                                <strong>Python</strong>: Backend development and algorithms.
                            </li>
                            <li>
                                <strong>JavaScript:</strong>Frontend development.
                            </li>
                        </ul>

                    </div>
                    <div id="list">
                        <h3 class="list_point">
                            Libraries and Frameworks
                        </h3>
                        <br>
                        <ul class="list">
                            <li>
                                <strong>OpenCV:</strong>: Computer vision tasks.
                            </li>
                            <li>
                                <strong>Mediapipe:</strong>Hand and gesture detection.
                            </li>
                            <li>
                                <strong>NumPy:</strong>Numerical computations.
                            </li>
                        </ul>

                    </div>
                    <div id="list">
                        <h3 class="list_point">
                            User Interface Technologies
                        </h3>
                        <br>
                        <ul class="list">
                            <li>
                                <strong>Flask</strong>: For  Web Framework
                            </li>
                            <li>
                                <strong>HTML/CSS</strong>: Structuring and styling.
                            </li>
                        </ul>

                    </div>
                </div>


            </div>

        </div>
        


        


</div>

    <footer>
        <h3>  All rights reserved @FinestMosaic69 aka Agrim Kulshreshtha </h3>



    </footer>

    
</body>
</html>
